body {
    background-image: url("https://branchingpaths.jp/wp-content/uploads/2019/10/Anime-Slots-in-Japan.jpg");

}


h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(245, 233, 5, 0.808);
}

.divtitulo {
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-left: 100px solid rgb(116, 33, 33);
    border-right: 100px solid rgb(116, 33, 33);

}

.card {
    display: inline-bloc k;
    margin: auto;
    height: 300px;
    width: 200px;
    padding: 20px;
    padding-top: 100px;
    border-radius: 5px;
    position: relative;
    font-size: 80px;
}

.card::before,
.card::after {
    position: absolute;
    font-size: 50px;
}

.card::before {
    top: 10px;
    left: 10px;
}

.card::after {
    bottom: 10px;
    right: 10px;
    transform: rotate(180deg);
}

.card.spade::before,
.card.spade::after {
    content: "\2660";
}

.card.club::before,
.card.club::after {
    content: "\2663";
}

.card.hearts::before,
.card.hearts::after {
    content: "\2665";
    color: red;
}

.card.diamond::before,
.card.diamond::after {
    content: "\2666";
    color: red;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#new-card-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
}

#new-card-btn:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}